<div class="row">
  <div class="col-md-4">
    <%= image_tag (@user.avatar), class: 'avatar' %>
  </div>
  <div class="col-md-8">
    <h1><%= @user.name %></h1>
    <dl>
      <dt><%= t('activerecord.attributes.user.neighborhood') %></dt>
      <dd><%= @user.neighborhood %></dd>
      <dt><%= t('activerecord.attributes.user.city_state') %></dt>
      <dd><%= @user.city_state %></dd>
      <dt><%= t('activerecord.attributes.user.description') %></dt>
      <dd><%= @user.description %></dd>
    </dl>
  </div>
</div>
