<h1><%= @user.name %></h1>

<%= image_tag (@user.avatar), class: 'avatar' %>

  <dl>
    <dt><%= t('activerecord.attributes.user.neighborhood') %></dt>
    <dd><%= @user.neighborhood %></dd>
    <dt><%= t('activerecord.attributes.user.city_state') %></dt>
    <dd><%= @user.city_state %></dd>
    <dt><%= t('activerecord.attributes.user.description') %></dt>
    <dd><%= @user.description %></dd>
  </dl>
