<h1><%= @user.name %></h1>
<%= image_tag ('profile_avatar.jpg'), class: 'avatar' %>

<% if @user.products.empty? %>
  <h3>Desculpe, este cozinheiro ainda não cadastrou seus produtos =(</h3>
<% else %>
  <h2>Produtos</h2>
  <%= simple_form_for @proposal, html:{class:'form-horizontal'}, wrapper: :horizontal_form do |f| %>
    <%= f.label :delivery_date_time %>
    <%= f.text_field :delivery_date_time %>
    <%= f.simple_fields_for :proposal_items do |proposal_item_form| %>
      <div class="row">
         <div class="col-md-6" id="product-<%= proposal_item_form.object.product.id %>">

          <%= proposal_item_form.label :quantity, proposal_item_form.object.product.name %>
          <%= proposal_item_form.text_field :quantity %>
          <%= number_to_currency proposal_item_form.object.product.price %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
