<h1><%= @user.name %></h1>
<%= image_tag (@user.avatar), class: 'avatar' %>

<% if @user == current_user %>
  <dl>
    <dt><%= t('activerecord.attributes.user.email') %></dt>
    <dd><%= @user.email %></dd>
    <dt><%= t('activerecord.attributes.user.neighborhood') %></dt>
    <dd><%= @user.neighborhood %></dd>
    <dt><%= t('activerecord.attributes.user.city_state') %></dt>
    <dd><%= @user.city_state %></dd>
    <dt><%= t('activerecord.attributes.user.phone') %></dt>
    <dd><%= @user.phone %></dd>
    <dt><%= t('activerecord.attributes.user.description') %></dt>
    <dd><%= @user.description %></dd>
    <dt><%= t('activerecord.attributes.user.account_type') %></dt>
    <dd><%= @user.account_type_convertion %></dd>
  </dl>
<% end %>

<% if @user.products.empty? %>
  <% if @user.account_type == 'cook' && @user == current_user %>
    <h3>Comece a cadastrar seus produtos ;)</h3>
  <% else %>
    <h3>Desculpe, este cozinheiro ainda não cadastrou seus produtos =(</h3>
  <% end %>
<% else %>
  <% if user_signed_in? %>
    <h2>Envie um Pedido</h2>
    <%= simple_form_for @proposal, html:{class:'form-horizontal'}, wrapper: :horizontal_form do |f| %>
      <%= f.hidden_field :cooker_id, value: params[:id]  %>
      <h3>Produtos</h3>
      <table>
        <tr>
          <th><%= t('activerecord.models.product') %></th>
          <th><%= t('activerecord.attributes.proposal_item.quantity') %></th>
          <th><%= t('activerecord.attributes.product.unity') %></th>
          <th><%= t('activerecord.attributes.proposal_item.price') %></th>
        </tr>
        <%= f.fields_for :proposal_items do |proposal_item_form| %>
          <div class="row">
            <tr>
              <%= proposal_item_form.hidden_field :product_id, value: proposal_item_form.object.product.id %>                
              <th><%= proposal_item_form.label :product, proposal_item_form.object.product.name, for: "proposal_proposal_items_attributes_#{proposal_item_form.object.product.id}_product" %></th>
              <th><%= proposal_item_form.text_field :quantity, id: "proposal_proposal_items_attributes_#{proposal_item_form.object.product.id}_product" %></th>
              <th><%= proposal_item_form.label :unity, proposal_item_form.object.product.unity.name %></th>
              <th><%= number_to_currency proposal_item_form.object.product.price %></th>
              <%= proposal_item_form.hidden_field :price, value: proposal_item_form.object.product.price %>                              
            </tr>
          </div>
        <% end %>
      </table>
      <%= f.input :delivery_date_time, as: :datetime, html5: true %>       
      <%= f.input :observations %>
      <%= f.button :submit, t('simple_form.labels.proposal.submit'), class: 'btn btn-primary' %>
      <%= link_to t('simple_form.back'), root_path, class: 'btn btn-secondary' %>
    <% end %>
  <% else %>
    <h2>Produtos</h2>
    <% @user.products.each do |product| %>
      <div class="row">
        <div class="col-md-6" id="product-<%= product.id %>">
          <%= product.name  %>
          <%= number_to_currency product.price %>
        </div>
      </div>
    <% end %>
   <% end %>
<% end %>
