<table class="table table-striped">
  <thead>
    <th><%= t('activerecord.attributes.proposal.delivery_date_time') %></th>
    <th><%= t('activerecord.attributes.proposal.proposal_user') %></th>
    <th><%= t('activerecord.attributes.proposal.total_price') %></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% proposals.each do |proposal| %>
      <tr id="proposal-<%= proposal.id %>">
        <th><%= proposal.delivery_date_time.to_datetime.strftime("%d/%m/%Y %H:%M") %></th>
        <th><%= proposal.user.name %></th>
        <th><%= number_to_currency proposal.total_price %></th>
        <th>
          <button class="btn btn-info" data-toggle="collapse"
            data-target="#proposal-collapse-<%= proposal.id %>" aria-expanded="false"
            aria-controls="proposal-collapse-<%= proposal.id %>">
            <i class="fa fa-search"></i>
            Detalhes
          </button>
        </th>
        <th>
          <% if proposal.pending? %>
            <%= link_to accept_proposal_path(proposal), class: 'btn btn-success', method: :post do %>
              Aceitar Proposta
              <i class="fa fa-thumbs-o-up"></i>
            <% end %>
            <button class="btn btn-danger">
              Rejeitar Proposta
              <i class="fa fa-thumbs-o-down"></i>
            </button>
          <% elsif proposal.accepted? %>
            <button class="btn btn-success" disabled="true">
              Proposta Aceita
              <i class="fa fa-check"></i>
            </button>
          <% end %>
        </th>
      </tr>
      <tr>
        <th colspan="5">
        <div class="collapse" id="proposal-collapse-<%= proposal.id %>">
          <div class="card card-body">
            <%= render proposal %>
          </div>
        </div>
      </th>
      </tr>
    <% end %>
  </tbody>
</table>
