<div class="row">
  <div class="col-md-3">
    <%= image_tag ('profile_avatar.jpg'), class: 'avatar img-fluid' %>
  </div>
  <div class="col-md-6">
    <h3 class="mt-2"><%= proposal.user.name %></h3>
    <dl class="mt-3">
      <dt class="col-md-6"><%= label :proposal, :delivery_date_time %></dt>
      <dd class="col-md-6"><%= proposal.delivery_date_time.to_datetime.strftime("%d/%m/%Y %H:%M") %></dd>
      <dt class="col-md-6"><%= t('activerecord.attributes.proposal.user.phone') %> </dt>
      <dd class="col-md-6"><%= proposal.user.phone %></dd>
      <dt class="col-md-6"><%= t('activerecord.attributes.proposal.user.email') %> </dt>
      <dd class="col-md-6"><%= proposal.user.email %></dd>
    </dl>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <h4>Proposta:</h4>
    <h3 class="mt-3">Produtos:</h3>
    <table class="table">
      <tr>
        <th><%= t('activerecord.models.product') %></th>
        <th><%= t('activerecord.attributes.proposal_item.quantity') %></th>
        <th><%= t('activerecord.attributes.product.unity') %></th>
        <th><%= t('activerecord.attributes.proposal_item.price') %></th>
      </tr>
      <% proposal.proposal_items.each do |proposal_item| %>
        <tr id="product-<%= proposal_item.product.id %>">
          <td><%= proposal_item.product.name %></td>
          <td><%= proposal_item.quantity %></td>
          <td><%= proposal_item.product.unity.name %></td>
          <td><%= number_to_currency proposal_item.price %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-5 offset-md-1">
    <h4 class="mt-5">Valor Total:</h4>
    <h5><%= number_to_currency proposal.total_price %></h5>

    <h5 class="mt-5">Endereço de Entrega:</h5>
    <h6><%= proposal.user.neighborhood %> - <%= proposal.user.city_state %></h6>

    <h5 class="mt-5">Observações:</h5>
    <p><%= proposal.observations %></p>

    <div class="col-md-3">
      <h5>Entregar no endereço:</h5>
        <p>
          <%= proposal.address %>, <%= proposal.address_number %> <br>
          <%= proposal.address_detail %> - <%= proposal.neighborhood %> <br>
          CEP: <%= proposal.postal_code %> - <%= proposal.city_state %>
        </p>
    </div>
  </div>
</div>
