<h3><%= @proposal.user.name %></h3>
<%= image_tag ('profile_avatar.jpg'), class: 'avatar' %>
<h4>Proposta:</h4>
<%= label :proposal, :delivery_date_time %>
<%= @proposal.delivery_date_time.to_datetime.strftime("%d/%m/%Y %H:%M") %>
<%= t('activerecord.attributes.proposal.user.phone') %>
<%= @proposal.user.phone %>
<%= t('activerecord.attributes.proposal.user.email') %>
<%= @proposal.user.email %>
<h3>Produtos:</h3>
<table>
  <tr>
    <th><%= t('activerecord.models.product') %></th>
    <th><%= t('activerecord.attributes.proposal_item.quantity') %></th>
    <th><%= t('activerecord.attributes.product.unity') %></th>
    <th><%= t('activerecord.attributes.proposal_item.price') %></th>
  </tr>
  <% @proposal.proposal_items.each do |proposal_item| %>
    <tr id="product-<%= proposal_item.product.id %>">
      <th><%= proposal_item.product.name %></th>
      <th><%= proposal_item.quantity %></th>
      <th><%= proposal_item.product.unity.name %></th>      
      <th><%= number_to_currency proposal_item.price %></th>  
    </tr>
  <% end %>
</table>
<h4>Valor Total:</h4>
<h5><%= number_to_currency @proposal.total_price %></h5>
<h5>Endereço de Entrega:</h5>
<h6><%= @proposal.user.neighborhood %> - <%= @proposal.user.city_state %></h6>
<h5>Observações:</h5>
<p><%= @proposal.observations %></p>




