<!DOCTYPE html>
<html>
  <head>
    <title>TipoCoxinha</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger text-white">
      <a class="navbar-brand" href="/">Tipo Coxinha</a>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Sair', destroy_user_session_path, method: 'DELETE',
                 class: "nav-link" %>
              </li>
              <% if current_user.account_type == 'cook' %>
              <li class="nav-item">
                <%= link_to t('simple_form.button.register_product'),
                    new_product_path, class: "nav-link" %>
              </li>
              <% end %>
            <% else %>
              <li class="nav-item">
                <%= link_to t("devise.registrations.new.sign_up"),
                    new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t("devise.sessions.new.sign_in"),
                    new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <main class="container mt-5">
      <%= yield %>
    </main>
  </body>
</html>
